.header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    background-size: contain;
    color: white;
    font-size: 30px;
    height: 25vh;

}

.signUp {
    text-align: center;
    display: flex;
    height: max-content;
    width: 100%;
    height: 500px;
}

.signup-form {
    display: inline-block;
    box-sizing: border-box;
    textfld: #333;
    background: #E8E8E8;
    font-size: 22px;
    width: 100%;
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin-bottom: 5px;
    padding: 15px 10px;
}


.banner {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    background-size: contain;
    color: white;
    font-size: 20px;
    height: 5vh;
}

a.loginButton {
    border: 0x;
    color: #fff;
    padding: 10px 32px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 2px;
    position:absolute; top:10px; right:10px;
    transition-duration: 0.4s;
    cursor: pointer;
    float: right;
    border-radius: 10px;
    background-color: gray;
    text-shadow: -1px 1px #193047;
}



a.signButton {
    border-width: 10x;
    color: #fff;
    padding: 10px 32px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    position:absolute; top:10px; right:120px;
    border-radius: 10px;
    background-color: gray;
    text-shadow: -1px 1px #193047;
}

a.signout_profile {
    border-width: 10x;
    color: #fff;
    padding: 10px 32px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    position:absolute; top:10px; right:120px;
    border-radius: 10px;
    background-color: gray;
    text-shadow: -1px 1px #193047;
}

a.homeButton {

    border: 0x;
    color: #fff;
    padding: 10px 32px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 2px;
    position:absolute; top:10px; right:10px;
    transition-duration: 0.4s;
    cursor: pointer;
    float: right;
    border-radius: 10px;
    background-color: gray;
    text-shadow: -1px 1px #193047;

}

.profile_picture_grid {

    color: black;
    background-color: lightgrey;
    padding: 85px 32px;
    text-align: left;

    .block {
        display: inline-block;
        width: 200px;
        height: 200px;
        background-color: white;
    }

    .container {
        text-align: center;
    }
}

.user_info {
    height: 420px;
    padding: 10px;
    width: 50%;
    border: 3px solid green;
    margin: auto 20px auto auto;
}

.right-block {

    width: 5%;
}

.left-block {
    width: 5%;

}

.editProfileForm {
    display: inline-block;
    box-sizing: border-box;
    background: #E8E8E8 center;
    font-size: 22px;
    width: 50%;
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin-bottom: 5px;
    margin-left: 30%;
    padding: 15px 10px;

}

.nutrition-box {
    position: absolute;
    left: 150px;
    height: 43%;
    display: inline-block;
    border: 3px solid green;
    width: 25%;
}



.backButton {
    border-width: 10x;
    color: #fff;
    padding: 10px 32px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    position:absolute; top:10px; right:120px;
    border-radius: 10px;
    background-color: gray;
    text-shadow: -1px 1px #193047;
}

.update-form {
    border-width: 10x;
    color: #fff;
    width: 50%;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
    background-color: gray;
    text-shadow: -1px 1px #193047;
    margin-bottom: 5px;
    margin-left: 30%;
    padding: 15px 10px;
}


