<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="css/stylesheet.css" th:href="@{/css/stylesheet.css}" type="text/css">
<meta name="viewport" content="width=device-width"/>
<head>
    <title>Edit Profile</title>
</head>

<div class="header">
    <h1>My FitBuddy</h1>


    <a class="homeButton" href="http://localhost:8080/">
        Home
    </a>

    <a class="backButton" href="http://localhost:8080/profile">
        Back
    </a>

</div>

<body>


<br><br>

<div class="update-form">

    <form th:action="@{/profile/changepassword}" th:object="${passwordDAO}" method="post">

    <br><br>
    Change User Password:
    <br><br><br><br>

    Old Password: <input id="oldpassword" name="oldpassword" type="password" />
    <br><br><br><br>
    New Password: <input id="password" name="password" type="password" />
    <br><br>
    <button type="submit">
    Submit
    </button>


    </form>




</div>




</body>

</html>
