<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="css/stylesheet.css" th:href="@{/css/stylesheet.css}" type="text/css">
<meta name="viewport" content="width=device-width"/>
<head>
    <title>Home Page</title>
</head>

<div class="header">
    <h1>My FitBuddy</h1>
    <p>An App to keep your friends accountable</p>

    <a class="loginButton" href="http://localhost:8080/login">
        <div sec:authorize="isAuthenticated()" th:action="@{/logout}">
            Log Out
        </div>
        <div sec:authorize="!isAuthenticated()">
            Log In
        </div>

    </a>

    <a class="signButton" href="http://localhost:8080/signup">
        Sign Up
    </a>

</div>

<body>




</body>

</html>
