<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="stylesheet.css">
<meta name="viewport" content="width=device-width"/>
<head>
    <title>Home Page</title>
</head>

<div class="header">
    <h1>My FitBuddy</h1>
    <p>An App to keep your friends accountable</p>

    <a class="loginButton" href="http://localhost:8080/login">
        Login
    </a>

    <a class="signButton" href="http://localhost:8080/signup">
        Sign Up
    </a>

</div>

<body>




</body>

</html>
