<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="stylesheet.css">
<meta name="viewport" content="width=device-width"/>
<head>
    <meta charset="UTF-8">
    <title>Login</title>

</head>

<div class="banner">
    <h1>My FitBuddy</h1>

    <a class="homeButton" href="http://localhost:8080/">
        Home
    </a>

    <a class="signButton" href="http://localhost:8080/signup">
        Sign Up
    </a>

</div>

<div class="login">
    hello
</div>

<body>

</body>
</html>
