<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" href="css/stylesheet.css" th:href="@{/css/stylesheet.css}" type="text/css">
<meta name="viewport" content="width=device-width"/>
<head>
    <meta charset="UTF-8">
    <title>Login</title>

</head>

<div class="banner">
    <h1>My FitBuddy</h1>

    <a class="homeButton" href="http://localhost:8080/">
        Home
    </a>

    <a class="signButton" href="http://localhost:8080/signup">
        Sign Up
    </a>

</div>

<div class="login">


    <form class="login" th:action="@{/processlogin}" method="POST">
        <label for="username">Username</label>:
        <input type="text" id="username" name="username" autofocus="autofocus" /> <br />
        <br> <br>
        <label for="password">Password</label>:
        <input type="password" id="password" name="password" /> <br />
        <input type="submit" value="Log in" />

    </form>



</div>

<body>

</body>


</html>
