<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" href="css/stylesheet.css" th:href="@{/css/stylesheet.css}" type="text/css">
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<meta name="viewport" content="width=device-width"/>
<head>
    <meta charset="UTF-8">
    <title> My Profile </title>

</head>

<div class="banner">
    <h1>My FitBuddy</h1>


    <a class="signout_profile" th:href="@{/logout}">
        Sign Out
    </a>

</div>

<div class="profile_picture_grid">

    Profile : <a th:text="${user.username}"></a>
    <br>
    Current Weight: <a th:text="${user.weight}"></a> lbs
    <br>
    Current Height : <a th:text="${user.height}"></a> inches.
    <br>
    Current BMR: <a th:text="${bmr}"></a> calories.
    <br>
    Calorie Target: <a th:text="${user.getUser_goal() != null} ?
                            ${target_calories}"> </a> calories.
    <br>

    <div class="container">

        <div class="block"></div>
    </div>

    <div class="right-block">
        <a class="editProfileButton" href="http://localhost:8080/profile/editprofile" th:action="@{/editprofile}">
            <button>Edit User Profile</button>
        </a>

    </div>

    <br>

    <div class="left-block">
        <a class="changePassButton" href="http://localhost:8080/profile/changepassword" th:action="@{/changepassword}">
            <button>Change Password</button>
        </a>

    </div>

    <p>

        User Bio: Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
        ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived
        not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
        with the release of Letraset sheets containing Lorem Ipsum passages,
        and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum

    </p>

</div>


 <div class="nutrition-box">
     Today's Date: <a th:text="${localDate}" ></a>
     <br><br>

         Total Calories: <a th:text="${nutritionProfile != null} ?
                            ${nutritionProfile.getTotal_calories()}"> </a>
         Total Carbs: <a th:text="${nutritionProfile != null} ?
        ${nutritionProfile.getCarbs()}"></a>
         Total protein:     <a th:text="${nutritionProfile != null} ?
        ${nutritionProfile.getProtein()}"></a>
         Total fat:       <a th:text="${nutritionProfile != null} ?
        ${nutritionProfile.getFat()}"></a>



     <form class="meals" th:action="@{/profile}" th:object="${nutrition}"  method="POST">

         <br><br>
         Add a Meal:
         <br><br>


         Total Calories:       <input type="text" th:field="*{total_calories}" />
         <br><br>
         Carbs :                <input type="text" th:field="*{carbs}" />
         <br><br>
         Protein:               <input type="text" th:field="*{protein}" />
         <br><br>
         Fat:                  <input type="text" th:field="*{fat}" />

         <br><br>
         <input type="submit" value="Submit" />


     </form>

 </div>

<div class="user_info" >


</div>





<body>

</body>
</html>
