<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" href="css/stylesheet.css" th:href="@{/css/stylesheet.css}" type="text/css">
<meta name="viewport" content="width=device-width"/>
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>

</head>

<div class="banner">
    <h1>My FitBuddy</h1>


    <a class="signout_profile" href="http://localhost:8080/" th:action="@{/logout}">

        Sign Out
    </a>

</div>

<div class="profile_picture_grid">

    Profile : <a th:text="${user.username}"></a>
    <br>
    Current Weight: <a th:text="${user.weight}"></a> lbs
    <br>
    Current Height : <a th:text="${user.height}"></a> inches.

    <br>
    <br>

    <div class="container">

        <div class="block"></div>
    </div>

    <p>

        User Bio: Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
        ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived
        not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
        with the release of Letraset sheets containing Lorem Ipsum passages,
        and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum

    </p>






</div>



<div class="user_info">

 Hey




</div>





<body>

</body>
</html>
